### Question 1

In [1]:
a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

### Question 2

In [1]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:  
        print("File idterm.py not found.")

file_length("idterm.py")

File idterm.py not found.

### Question 3

In [2]:
class Marsupial:
    l = []
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def put_in_pouch(self, s):
        self.l.append(s)
        
    def pouch_contents(self):
        print(self.l)
        
class Kangaroo(Marsupial):#creating subcalss of Marsupial
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):#overloading __str__()
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

In [3]:
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### Question 4

In [11]:
def collatz(n):
    while n != 1:
        print(n, end = ' ')
        if n & 1:
            n = 3 * n + 1
        else:
            n = n // 2
    print(n)

In [12]:
collatz(1)

1

In [13]:
collatz(10)

10 5 16 8 4 2 1

### Question 5

In [14]:
def binary(decimal):
    if decimal == 0:
        return 0
    else:
        return(decimal % 2 + 10 *
                binary(int(decimal // 2)))

In [15]:
binary(0)

0

In [16]:
binary(1)

1

In [17]:
binary(9)

1001

In [18]:
binary(3)

11

### Question 6

In [9]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    (h1,h2,h3,h4,h5,h6) = (False, False,False,False,False,False)
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.h1 = True
        if tag == 'h2':
            self.h2 = True
        if tag == 'h3':
            self.h3 = True
        if tag == 'h4':
            self.h4 = True
        if tag == 'h5':
            self.h5 = True
        if tag == 'h6':
            self.h6 = True
            

    def handle_endtag(self, tag):
        if tag == 'h1':
            self.h1 = False
        if tag == 'h2':
            self.h2 = False
        if tag == 'h3':
            self.h3 = False
        if tag == 'h4':
            self.h4 = False
        if tag == 'h5':
            self.h5 = False
        if tag == 'h6':
            self.h6 = False
            

    def handle_data(self, data):
        if self.h1:
            print(data)
        elif self.h2:
            print("    {}".format(data))
        elif self.h3:
            print("        {}".format(data))
        elif self.h4:
            print("            {}".format(data))
        elif self.h5:
            print("                {}".format(data))
        elif self.h6:
            print("                    {}".format(data))

In [10]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
    Principles

### Question 7

In [12]:
import urllib.request
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    (h1,h2) = (False, False)
    
    def handle_starttag(self, tag, attrs):
        if tag == 'h1':
            self.h1 = True
        if tag == 'h2':
            self.h2 = True
        if tag == 'h3':
            self.h3 = True
        if tag == 'h4':
            self.h4 = True
        if tag == 'h5':
            self.h5 = True
        if tag == 'h6':
            self.h6 = True
            

    def handle_endtag(self, tag):
        if tag == 'h1':
            self.h1 = False
        if tag == 'h2':
            self.h2 = False
        if tag == 'h3':
            self.h3 = False
        if tag == 'h4':
            self.h4 = False
        if tag == 'h5':
            self.h5 = False
        if tag == 'h6':
            self.h6 = False
            

    def handle_data(self, data):
        if self.h1:
            print(data)
        elif self.h2:
            print("    {}".format(data))
        elif self.h3:
            print("        {}".format(data))
        elif self.h4:
            print("            {}".format(data))
        elif self.h5:
            print("                {}".format(data))
        elif self.h6:
            print("                    {}".format(data))


print(url)
def webdir(url, depth, indent):
    
    if depth == 0:
        return
    
    try: 
        response = urllib.request.urlopen(url)
        html = response.read()

    except urllib.error.URLError:
        return 
    
    # TODO : PARSE URL(S) FROM HTML
    new_url = 
    print("    "*indent + new_url)
    webdir(new_url, depth-1, indent+1)



webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

SyntaxError: invalid syntax (Temp/ipykernel_20620/4097385713.py, line 67)

### Question 8

In [13]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in c:\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: six in c:\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: sqlparse in c:\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: prettytable<1 in c:\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pygments in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: matplotlib-inline in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: pickleshare in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: decorator in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in c:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)

In [14]:
%load_ext sql

In [15]:
%sql sqlite://

In [16]:
%%sql
CREATE TABLE weather
(city varchar(6),
  country varchar(6),
season varchar(6),
 temperature float,
  rainfall float
);

 * sqlite://
Done.

[]

In [17]:
%%sql
select * from weather;

 * sqlite://
Done.

[]

In [18]:
%%sql
INSERT INTO weather VALUES('Mumbai','India','Spring',28.4,16.2),
('Mumbai','India','Summer',27.9,1549.4),
('Mumbai','India','Fall',27.6,346.0),
('London','United Kingdom','Winter',4.2,207.7),
('London','United Kingdom','Spring',8.3,169.6),
('London','United Kingdom','Summer',15.7,157.0),
('London','United Kingdom','Fall',10.4,218.5),
('Cairo','Egypt','Winter',13.6,16.5),
('Cairo','Egypt','Spring',20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall',22.2,4.5)
;

 * sqlite://
11 rows affected.

[]

In [19]:
%%sql
select * from weather;

 * sqlite://
Done.

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [20]:
%%sql
select temperature from weather;

 * sqlite://
Done.

[(28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [21]:
%%sql
select DISTINCT city from weather;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [22]:
%%sql
select * from weather WHERE country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [23]:
%%sql
select * from weather WHERE season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [24]:
%%sql
SELECT 
city,country,season 
from weather 
WHERE rainfall BETWEEN 200.0 AND 400.0;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [25]:
%%sql
select
city,country,season,temperature 
from weather WHERE
season='Fall' AND temperature>20 order by temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt', 'Fall', 22.2), ('Mumbai', 'India', 'Fall', 27.6)]

In [26]:
%%sql
select SUM(rainfall) AS Annual from weather 
where city='Cairo';

 * sqlite://
Done.

[(27.6,)]

In [27]:
%%sql
select SUM(rainfall) AS TotalRainfall from weather

 * sqlite://
Done.

[(2692.0,)]

### Question 9

In [28]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [29]:
up = [word.upper() for word in words]
print(up)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [30]:
low = [word.lower() for word in words]
print(low)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [31]:
length = [len(word) for word in words]
print(length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [32]:
lol = [[word.upper(), word.lower(), len(word)] for word in words]
print(lol)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [33]:
count = [word for word in words if len(word) >= 4]
print(count)

['quick', 'brown', 'jumps', 'over', 'lazy']